<div class="header">
  <div class="container">
      <div class="row" id="nav-row">
        <img src="https://www.cjponyparts.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbk1577_1.573.jpg" width="100" height="100" />

        <div class="col-md-10" id="navigation">
          <ul class="list-inline">
            <a href="#" class="list-group-item">Dashboard</a>
            <div *ngIf="docent" class="if">
              <a href="#" class="list-group-item">Hardware</a>
            </div>

            <div *ngIf="!docent" class="if">
              <a href="#" class="list-group-item">Uitlenen</a>
              <a href="#" class="list-group-item">Terugnemen</a>
              <a href="#" class="list-group-item">Hardware</a>
            </div>


            <a href="#" class="list-group-item">Uitloggen ({{username}})</a>
          </ul>

        </div>
      </div>
  </div>
</div>
