<br>
<div class="card">
<nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #fff">
  <a class="navbar-brand"><img src="https://www.zoom.co.uk/content/images/icons/header/tlaccount.png" width="30" height="30" class="d-inline-block align-top" alt="">
    HU UitleenSysteem</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="currentUser?.username" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
    <li *ngIf="currentUser?.docent" class="nav-item">
      <a class="nav-link" href="/productuitlenen" routerLink="/productuitlenen" routerLinkActive="active">Uitlenen</a>
    </li>
    <li *ngIf="currentUser?.docent" class="nav-item">
      <a class="nav-link" href="/productterugnemen" routerLink="/productterugnemen" routerLinkActive="active">Terugnemen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/beschikbarehardware" routerLink="/beschikbarehardware" routerLinkActive="active">Hardware</a>
    </li>
    </ul>
  </div>
      <div class="nav-item">
        <a id="gebruiker" *ngIf="currentUser?.username" class="nav-link" href="" (click)="logout()" role="button">
          {{currentUser.username}} (Uitloggen)
        </a>
        <a id="gebruiker" *ngIf="!currentUser?.username" class="nav-link " href=""  role="button"  aria-expanded="false">
            Inloggen
          </a>
    </div>
</nav>
</div>
<br>
