
<br><br>
<!-- <h1 *ngIf="authService.user | async">Hallo: {{ (authService.user | async)?.email }}!</h1> -->

<!-- <div *ngIf="!(authService.user | async)"> -->
  <div class="jumbotron">
      <div  *ngIf="error.message" class="alert alert-danger" role="alert">
          {{error.message}}
        </div>
<h1>Login</h1>

  <div class="form-group row">
    <label for="email" class="col-sm-4 col-form-label">Email</label>
    <div class="col-sm-8">
      <input type="email" [(ngModel)]="email" class="form-control" id="email" placeholder="naam.achternaam@student.hu.nl">
    </div>
  </div>
  <div class="form-group row">
    <label for="wachtwoord" class="col-sm-4 col-form-label">Wachtwoord</label>
    <div class="col-sm-8">
      <input type="password" [(ngModel)]="password" class="form-control" id="wachtwoord" placeholder="********">
    </div>
  </div>
  <button class="btn btn-primary float-right" (click)="login()" [disabled]="!email || !password"> Inloggen </button>
  </div>
<!-- </div> -->
