<!-- <table *ngIf="hardwareList[0]" style="width:100%" border="1">
  <tr align="center" valign="middle">
    <th>Product</th>
    <th>Naam</th>
    <th>Omschrijving</th>
    <th>Voorraad</th>
    <th>Maximaal dagen te leen</th>
  </tr>
  <tr align="center" valign="middle" *ngFor="let hardware of hardwareList | async; let i=index">
    <td><img src={{hardware.imgLocation}} height="40" width="40"/></td>
    <td><a [routerLink]="['/productinfo/'+ (i+1)]" style="display:block;">{{hardware.naam}}</a></td>
    <td>{{ hardware.omschrijving }}</td>
    <td>{{ hardware.voorraad }}</td>
    <td>{{ hardware.maxLeentijdDagen }}</td>
  </tr>
</table>
<div style="text-align:center" *ngIf="!hardwareList[0]"><img src="../../assets/images/loading.gif"></div> -->

<table style="width:100%" border="1">
  <tr align="center" valign="middle">
    <th>Product</th>
    <th>Naam</th>
    <th>Omschrijving</th>
    <th>Voorraad</th>
    <th>Maximaal dagen te leen</th>
  </tr>
  <tr align="center" valign="middle" *ngFor="let product of producten | async; let i=index">
    <td><img src={{product.imgLocation}} height="40" width="40"/></td>
    <td><a [routerLink]="['/productinfo/'+ (product.$key)]" style="display:block;">{{product.productNaam}}</a></td>
    <td>{{ product.productOmschrijving }}</td>
    <td>{{ product.productVoorraad }}</td>
    <td>{{ product.maxLeentijd }}</td>
  </tr>
</table>