<!--Tabel maken aan de hand van ngFor waarmee door alle eerder opgehaalde producten word heengeloopt-->
<table style="width:100%" border="1">
  <tr align="center" valign="middle">
    <th>Product</th>
    <th>Naam</th>
    <th>Omschrijving</th>
    <th>Voorraad</th>
    <th>Maximaal dagen te leen</th>
  </tr>
  <tr align="center" valign="middle" *ngFor="let product of producten | async; let i=index">
    <td><img src={{product.imgLocation}} height="40" width="40"/></td>
    <td><a [routerLink]="['/productinfo/'+ (product.$key)]" style="display:block;">{{product.productNaam}}</a></td>
    <td>{{ product.productOmschrijving }}</td>
    <td>{{ product.productVoorraad }}</td>
    <td>{{ product.maxLeentijd }}</td>
  </tr>
</table>
