<div class="container" *ngIf="product.naam">

  <div class="card">
    <div class="card-body">

  <h3 *ngIf="product.naam">  {{product.naam}} </h3>

  <div class="row">

    <div class="col-md-4">
      <img src="{{product.imgLocation}}" width="200" height="200" />
    </div>

    <div class="col-md-8">
        {{product.omschrijving}}
    </div>

  </div>
</div>
</div>
<br>
<div class="card">
  <div class="card-body">


  <h3> Lenen </h3>
  <form [formGroup]="leningForm" (ngSubmit)="vraagLeningAan(leningForm.value)">
  <div class="row">
    <div class="col-md-3" >
      <h5>Aantal</h5>
    </div>

    <div class="col-md-9">
      <input class="form-control has-error" type="number" min="1" max="{{product.voorraad}}" [ngClass]="{'has-error':!leningForm.controls['aantal'].valid && leningForm.controls['aantal'].touched}" [formControl]="leningForm.controls['aantal']" required/> <small class="form-text text-muted"><i>Maximaal te lenen: <b>{{product.voorraad}}</b></i></small>
      <div *ngIf="!leningForm.controls['aantal'].valid && leningForm.controls['aantal'].touched" class="alert alert-danger">Vul een correct aantal in</div>
    </div>
</div>

  <div class="row" >
    <div class="col-md-3">
      <h5>Terugbrengen op</h5>
    </div>

    <div class="col-md-9">
      <input class="form-control" type="date" max="{{dateHelper.formatDateReversed(product.getMaxDatum())}}" min="{{dateHelper.formatDateReversed(product.getMinDatum())}}" [ngClass]="{'has-error':!leningForm.controls['terugbrengenOp'].valid && leningForm.controls['terugbrengenOp'].touched}"  [formControl]="leningForm.controls['terugbrengenOp']" required pattern="^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]20\d{2}$"/> <small class="form-text text-muted"><i>Uiterlijk te lenen tot: <b>{{dateHelper.formatDate(product.getInleverdatum())}}</b></i></small>
      <div *ngIf="!leningForm.controls['terugbrengenOp'].valid && leningForm.controls['terugbrengenOp'].touched" class="alert alert-danger">Vul een geldige datum in</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br/>
      <button class="btn btn-primary float-right" [disabled]="!leningForm.valid" >Lening aanvragen</button>
    </div>
  </div>

</form>
</div>
</div>
</div>
  