<div class="container" *ngIf="product.naam">

  <h1 *ngIf="product.naam">  {{product.naam}} </h1>

  <div class="row" *ngIf="product.imgLocation">

    <div class="col-md-3">
      <img src="{{product.imgLocation}}" width="200" height="200" />
    </div>

    <div class="col-md-8" *ngIf="product.omschrijving">
        {{product.omschrijving}}
    </div>

  </div>

  <h2> Lenen </h2>
  <div class="row" *ngIf="product.voorraad">
    <div class="col-md-3" >
      <h5>Aantal</h5>
    </div>

    <div class="col-md-9">
      <input class="form-control" type="text" /> <i>Maximaal te lenen: <b>{{product.voorraad}}</b></i>
    </div>
  </div>

  <div class="row" *ngIf="product.maxLeentijdDagen">
    <div class="col-md-3">
      <h5>Terugbrengen op</h5>
    </div>

    <div class="col-md-9">
      <input class="form-control" type="date" max="{{getMaxDatum()}}" min="{{getMinDatum()}}"/> <i>Uiterlijk te lenen tot: <b>{{getInleverdatum()}}</b></i>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br/>
      <button class="btn btn-primary float-right">Toevoegen aan winkelmandje </button>
    </div>

  </div>

</div>
