<div class="container">

  <h1>  {{test.productNaam}} </h1>

  <div class="row">

    <div class="col-md-3">
      <img src="https://static.gamma.nl/dam/49795/22" width="200" height="200" />
    </div>

    <div class="col-md-8">
        {{productInfo}}
    </div>

  </div>

  <h2> Lenen </h2>
  <div class="row">
    <div class="col-md-3">
      <h5>Aantal {{id}}</h5>
    </div>

    <div class="col-md-9">
      <input class="form-control" type="text" /> <i>Maximaal te lenen: <b>{{maximaalTeLenen}}</b></i>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h5>Terugbrengen op</h5>
    </div>

    <div class="col-md-9">
      <input class="form-control" type="date"/> <i>Uiterlijk te lenen tot: <b>{{uiterlijkeDatum}}</b></i>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br/>
      <button class="btn btn-primary float-right">Toevoegen aan winkelmandje </button>
    </div>

  </div>

</div>
