<p>
  Welkom bij het HU uitleensysteem.
  Hieronder volgt een korte uitleg over hoe alles in elkaar steekt.
</p>

<ul>
  <li>Uitlenen</li>
  <p>Een docent kan hier een product uitlenen aan een leerling die eerder de lening heeft aangevraagd.</p>
  <li>Terugnemen</li>
  <p>.............................</p>
  <li>Hardware</li>
  <p>
    Er word een overzicht van gegevens getoont over beschikbare leenbare hardware met voorraad erbij.<br/>
    Hier kan geklikt worden op gewenste hardware om te navigeren naar het winkelmandje en een lening aan te vragen.
  </p>
</ul>
<div class="banner">
<img src="https://d2wvwvig0d1mx7.cloudfront.net/data/org/14755/media/img/cache/1600x0/1481062_1600x0.jpg"  height="50%" width="50%">
</div>
